a{
  text-decoration: none;
}
body{
  font-family: "Open Sans";
}

.flexRow{
  display: flex;
  justify-content: center;
  align-items: center;
}
.flexColumn{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.colorPink{
  color: #fc9f9f !important;
}

  /* ------------------ABOUT SECTION --------------------------*/
.about{
  margin:0px 15%;
}
.about__title{
  font-family: "Source Sans Pro";
  font-size:45px;
  text-align:center;
  margin-top:50px;
}
.about__pic{
  width:80%;
}

.aboutInfo{
  width:80%;
  font-size:22px;
  background-color: #f1f1f1;
}
.aboutInfo__text{
  padding:20px 75px;
}

/* ------------------DESIGN PROCESS--------------------------*/
.process{
  justify-content: space-between;
  overflow: scroll;
}
.processItem{
  background: #f1f1f1;
  justify-content: flex-start;
  height:400px;
  width: 20%;
  margin:10px;
  /* padding: 10px; */
}

.processItem__icon{
    padding-top: 10%;
    height:150px;
    /* top:0; */
}

.processItem__title{
    font-family: "Source Sans Pro";
    font-size:25px;
    color: #fc9f9f;
}
.processItem__text{
  margin-left:10px;
  font-size:18px;
}

@media screen and (max-width: 700px){
	.process{
		flex-direction: column;
  }
  .processItem{
    width: 90%;
  }
  .aboutInfo,.about__pic{
    width: 100%;
  }
}