 /* ------------------ABOUT SECTION --------------------------*/
 .about{
    /* margin:0px 15%; */
    width: 50%;
  }
  .about__title{
    font-family: "Source Sans Pro";
    font-size:45px;
    text-align:center;
    padding-top:75px;
  }
  .about__pic{
    width:100%;
  }
  
  .aboutInfo{
    width:100%;
    font-size:18px;
    background-color: #f1f1f1;
  }
  .aboutInfo__text{
    margin:20px 50px;
  }
  
  /* ------------------DESIGN PROCESS--------------------------*/
  .process{
    justify-content: space-around !important;
  }
  .processItem{
    background: #f1f1f1;
    justify-content: flex-start !important;
    height:220px;
    width: 15%;
    margin:10px;
    /* padding: 10px; */
  }
  
  .processItem__icon{
      padding-top: 10%;
      height:150px;
      width: 150px;
  }
  
  .processItem__title{
      font-family: "Source Sans Pro";
      font-size:25px;
      color: #fc9f9f;
  }
  .processItem__text{
    margin-left:10px;
    font-size:15px;
  }
  
  @media screen and (max-width: 700px){
    .process{
          flex-direction: column;
    }
    .processItem{
      width: 50%;
      justify-content: center !important;
    }
    .processItem__icon{
      padding:0;
    }
    .aboutInfo,.about__pic{
      width: 100%;
    }
  }