/*------------------------------------------------*/
/***		    BIOGRAPHY STYLING      			 ***/
/*------------------------------------------------*/

 /* ABOUT SECTION --------------------------*/
.about{
	width: 45%;
}

.about__title{
	font-family: "Source Sans Pro";
	font-size: 45px;
	padding-top: 75px;
	text-align: center;
}

.aboutInfo{
	font-size: 16px;
	background-color: #f1f1f1;
}

.aboutInfo__text{
	margin:20px 50px;
}

.aboutLink{
	color: #fc9f9f;
}
/* DESIGN PROCESS--------------------------*/
.process{
	justify-content: space-around !important;
	margin-bottom: 50px;
}

.processItem{
	justify-content: flex-start !important;
	width: 15%;
	margin: 10px 0;
	padding: 10px 0 20px 0;
	background: #f1f1f1;
}
  
.processItem__icon{
	width: 70%;
	padding-top: 10%;
}
  
.processItem__title{
	font-family: "Source Sans Pro";
	font-size: 25px;
	color: #fc9f9f;
}

.processItem__text{
	font-size: 15px;
	margin-left: 10px;
}
  
@media screen and (max-width: 700px){
	.process{
			flex-direction: column;
	}
	.processItem{
		justify-content: center !important;
		width: 50%;
	}
	.processItem__icon{
		padding:0;
	}
	.aboutInfo,.about__pic{
		width: 100%;
	}
}