/*------------------------------------------------*/
/***				GLOBAL STYLES				***/
/*------------------------------------------------*/


/* ELEMENTS ----------------------------*/
html{
	font-family: "Open Sans";	
}

a{
	text-decoration: none;	
}

h1, h2, h3, p{
	margin: 0;	
}


/* UTILITY CLASSES ---------------------*/
.flexRow, .flexColumn{
	display: flex;
	align-items: center;
	justify-content: center;
}
.flexColumn{
	flex-direction: column;
}

.colorPink{
	color: #fc9f9f !important;
}

.fullWidth{
	width: 100%;
}


/* SECTION STYLING ---------------------*/
.sectionTitle{
    font-family: "Source Sans Pro";
    font-size: 45px;
    text-align: center;
}

div.section:nth-child(2n+1){
	background: #f1f1f1;
}


/* BUTTON STYLING ---------------------*/
button{
    border: none;
}
button:hover{
    background-color:white;
    color:#fc9f9f;
}


/* NAVBAR STYLING ---------------------*/
.topnav{
	justify-content: flex-end;
	position: fixed;
	font-size: 18px;
	height: 60px;
	width: 100%;
	margin-top: -10px;
	z-index: 99;
	background-color: white;
}

.topnav__item {
	margin: 0 40px 0 0;
	color: black;
}
.topnav__item:hover {
    color: #fc9f9f;
    border-bottom: 3px solid #fc9f9f;
}
.topnav__item--projects:hover{
	border-bottom: none;
}

/* DROPDOWN STYLING ---------------------*/
.dropdown {
	position: relative;
	display: inline-block;
}
.dropdown:hover .dropdownMenu{
	display: flex;
	flex-direction: column;
}

.dropdownMenu{
	display: none;
	position: absolute;
	width: 150px;
	padding-top: 18px;
	margin-left: -10px;
}

.dropdownMenu__item{
	display: block;
	padding: 15px 10px;
	color: black;
	background-color: #f7f7f7;
}
.dropdownMenu__item:hover{
	color: white;
	background-color: #fc9f9f;
}


.contact {
	height: 8vh; 
}
.contact__icon {
  width: 30px;
  margin: 0px 10px; 
}