/*------------------------------------------------*/
/***				GLOBAL STYLES				***/
/*------------------------------------------------*/


/* ELEMENTS ----------------------------*/
html{
	font-family: "Open Sans";	
}

body{
	margin-left: 0 !important;
}
a{
	text-decoration: none;	
}

h1, h2, h3, p{
	margin: 0;
}

h1{
	font-family: Source Sans Pro;
}


/* UTILITY CLASSES ---------------------*/
.flexRow, .flexColumn{
	display: flex;
	align-items: center;
	justify-content: center;
}
.flexColumn{
	flex-direction: column;
}

.colorPink{
	color: #fc9f9f !important;
}
.backgroundPink{
	background-color: #fc9f9f;
}

.fullWidth{
	width: 100%;
}

.boxShadow{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.margin-left{
	margin-left: 10px;
}
.margin-right{
	margin-right: 10px;
}


/* SECTION STYLING ---------------------*/
.sectionTitle{
    font-family: "Source Sans Pro";
	font-size: 45px;
}

div.section:nth-child(2n+1),section:nth-child(2n+1){
	background: #f1f1f1;
}


/* BUTTON STYLING ---------------------*/
button{
    border: none;
}
button:hover{
    background-color:white;
    color:#fc9f9f;
}


/* NAVBAR STYLING ---------------------*/
.topnav{
	justify-content: flex-end;
	position: fixed;
	font-size: 18px;
	height: 60px;
	width: 100%;
	margin-top: -10px;
	z-index: 99;
	background-color: white;
}

.topnav__item {
	margin: 0 40px 0 0;
	color: black;
}
.topnav__item:hover {
    color: #fc9f9f;
    border-bottom: 3px solid #fc9f9f;
}
.topnav__item--projects:hover{
	border-bottom: none;
}


.contact {
	height: 8vh; 
}
.contact__icon {
	width: 30px;
  margin: 0px 10px; 
}
#medium{
	width: 40px;
}
#mail{
	width: 35px;
}

.bottomNav{
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-size: 18px;
	font-weight: bold;
	height: 60px;
	width: 100%;
	z-index: 99;
	background-color: white;
}

.footer{
	font-size: 12px;
	color: lightgray;
}