html{
	font-family: "Open Sans";	
}
a{
	text-decoration: none;	
}
h1, h2, h3, p{
	margin: 0;	
}

/* UTILITIES */
.flexRow, .flexColumn{
	display: flex;
	align-items: center;
	justify-content: center;
}
.flexColumn{
	flex-direction: column;
}

.sectionTitle{
    font-family: "Source Sans Pro";
    font-size:45px;
    text-align:center;
}

.colorPink{
	color: #fc9f9f !important;
}

.fullWidth{
	width:100%;
}

/* BUTTON STYLING */
button{
    border: none;
}
button:hover{
    background-color:white;
    color:#fc9f9f;
}

/* NAVBAR */
.topnav{
	justify-content: flex-end;
	position: fixed;
	height: 60px;
	width: 100%;
	font-size: 18px;
	margin-top: -10px;
	z-index: 99;
	background-color: white;
}
.topnav__item {
	margin: 0px 40px 0px 0px;
	color: black;
}

.topnav__item:hover {
    color: #fc9f9f;
    border-bottom: 3px solid #fc9f9f;
}
.topnav__item--projects:hover{
	border-bottom: none;
}

div.section:nth-child(2n+1){
	background: #f1f1f1;
}


.dropdown {
	position: relative;
	display: inline-block;
}

.dropdownMenu{
	display: none;
	position: absolute;
	width: 150px;
	padding-top: 18px;
	margin-left: -10px;
	/* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}

.dropdownMenu__item{
	color: black;
	background-color: #f1f1f1;
	display: block;
	padding: 15px 10px;
}
.dropdownMenu__item:hover{
	background-color: #fc9f9f;
	color: white;
}

.dropdown:hover .dropdownMenu{
	display: flex;
	flex-direction: column;
}