.topnav{
	display: flex;
	align-items: center;
	position: fixed;
	justify-content: flex-end;
	height: 60px;
	width: 100%;
	background-color: white;
	font-size: 18px;
	margin-top: -10px;
	z-index: 99;
}
.topnav__item {
    color: black;
    margin: 0px 40px 0px 0px;
}
.topnav__item:hover {
    color: #fc9f9f;
    border-bottom: 3px solid #fc9f9f;
}