body{
    font-size:20px;
}
h3{
    font-weight:lighter;       
}
h1,h2{
	margin: 5px 0 !important;	
}

/* ---------------- COVER --------------------*/
.pageCover{
    width: 100%;
    margin-top: 50px;
}

/* ---------------- SECTIONS --------------------*/
.section{
    padding:50px 15% 50px 15%;
}

.featureTitle{
    font-size: 20px;
}

/* ---------------- FIGURES --------------------*/
.figure{
    width: 50%;
    margin:15px;
}
.figure--border{
    border: 1px solid black;
}
.figure--screen{
    width:100%;
    margin:15px;
}
.figure--video{
    margin-top: 50px;
}

/* ---------------- LINKS --------------------*/
.link{
    color:#fc9f9f;
}
.link:hover{
    text-decoration: underline;
}

.link--bottomNav{
    font-weight: bold;
    padding:0px 30px;
}


/* ---------------- BUTTONS  --------------------*/

.linkButton{
    font-size:20px;
    background-color:#fc9f9f;
    padding:10px 20px;
    border-radius:5px;
    color:white;
    margin-top:30px;
}

.bottomnav{
    height:75px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}