
.bio-cont{
  padding:100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.info,.about-descrip,.design-proc{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* ------------------NAVBAR --------------------------*/
.topnav {
    background-color: white;
    overflow: hidden;
    position:fixed;
    width:100%;
    margin-top:-10px;
    z-index:99;
    padding-top:14px;
    padding-right:25px;
  }
  .topnav a {
    float: right;
    color: black;
    text-align: center;
    padding: 14px 0px;
    margin: 0px 15px;
    font-family: "Open Sans";
    font-size:18px;
  }
  .topnav a:hover {
    background-color: #482f7f00;
    color: #fc9f9f;
    text-decoration:none;
    padding-bottom:3px;
    border-bottom: 3px solid #fc9f9f;
  }
  .topnav a.active {
    background-color: #482f7f00;
    text-decoration: none;
    color: #fc9f9f
  }

  /* ------------------TEXT SIZES --------------------------*/
  .h1-title{
    font-family: "Source Sans Pro";
    font-size:45px;
    text-align:center;
  }
  .bio-descrip{
    font-family:"Open Sans";
    font-size:22px;
    background-color: #f1f1f1;
    padding:75px;
    width:70%;
  }

.bio-link{
    color: #fc9f9f;
    background-color: white;
    border-radius:5px;
    border: 1px solid #fc9f9f;
    padding:10px 20px;
    font-family:"Open Sans";
    font-size:20px;
    
}

  /* ------------------PICTURE SIZES --------------------------*/
  .prof-pic{
    width:70%
  }

  .pic-div{
    text-align: center;
  }

  .process-icon{
    max-width: 110px;
    height:130px;
    margin:0px 30px;
    padding:15px 0px;
  }


/* ------------------DESIGN PROCESS--------------------------*/
.design-process{
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-bottom:100px;
}

.process-col{
  background: #f1f1f1;
  margin:10px;
  padding: 10px;
  display: flex;
  flex-direction:column ;
  align-items: center;
}

  .process-title{
    font-family: "Source Sans Pro";
    font-size:20px;
    color: #fc9f9f;
  }

  .process-text{
    font-family: "Open Sans";
  }


