.about-cont{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    padding:75px 15% 75px 15%
}
.info,.about-descrip{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* ------------------NAVBAR --------------------------*/
.topnav {
    background-color: white;
    overflow: hidden;
    position:fixed;
    width:100%;
    margin-top:-10px;
    z-index:99;
    padding-top:14px;
    padding-right:25px;
  }
  .topnav a {
    float: right;
    color: black;
    text-align: center;
    padding: 14px 16px;
    font-family: "Open Sans";
    font-size:18px;
  }
  .topnav a:hover {
    background-color: #482f7f00;
    color: #fc9f9f;
    text-decoration: none;
  }
  .topnav a.active {
    background-color: #482f7f00;
    text-decoration: none;
    color: #fc9f9f
  }

  /* ------------------TEXT SIZES --------------------------*/
  .h1-title{
    font-family: "Source Sans Pro";
    font-size:45px;
    padding-left:20px;
}
.bio-descrip{
    font-family:"Open Sans";
    font-size:18px;
}

.bio-link{
    color: #fc9f9f;
    background-color: white;
    border-radius:5px;
    border: 1px solid #fc9f9f;
    padding:10px 20px;
    font-family:"Open Sans";
    font-size:20px;
    
}

  /* ------------------PICTURE SIZES --------------------------*/
  .prof-pic{
      width:100%
  }