body{
    font-family:"Open Sans";
}

.colorPink{
    
}

/* ---------------- CONTAINERS --------------------*/
.section-div{
    height:100%;
    padding:50px 15% 50px 15%;
}

.even{
    background: #f1f1f1;
}

.paper-cont,.ff-color-cont,.screen-cont{
    display: flex;
    align-items:center;
    justify-content:center;
}

/* ---------------- TEXT SIZES --------------------*/
.title{
    text-align: center;
    font-size: 50px;
}
.sub-title{
}
.lil-title{
    font-family: "Open Sans";
    text-align: left;
    font-size:20px;
}
.description{
    font-size:20px;
}


/* ---------------- PICTURES  --------------------*/
.page-cover{
    max-width: 100%;
    height: auto;
}
.screen{
    width:1000px;
}


/* ---------------- BUTTONS  --------------------*/
button{
    border:inherit;
    background-color:inherit;
}
button:hover{
    background-color:white;
    color:#fc9f9f;
}
.button-div{
    display: flex;
    align-items:center;
    justify-content:center;
}
.arrow-button:hover{
    background-color:#ffffff00;
    color:#fc9f9f;
}
.arrow-button{
    background-color:#ffffff00;
    color:black;
    font-size:30px;
    padding:20px 0px 0px 25px;
    position:fixed;
}
.link-button{
    font-size:20px;
    background-color:#fc9f9f;
    padding:10px 20px;
    border-radius:5px;
    color:white;
}



.link,a.link:hover{
    color:#fc9f9f;
}


.paper,.ff-logo,.screen{
    width:75%;
}
.ff-letters{
    width:25%
}
.ff-color{
    width:40%;
    padding-top:30px;
}


/* ------------------DAILY UI --------------------*/
.web-link,.web-link:hover{
    color: #fc9f9f;
}

.ui-img{
    width:90%;
}
.center-pics{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}
/* ------------------GENERATOR--------------------*/
.gen-img{
    width:100%;
}
.gen-small-img{
    width:50%
}

/* ------------------NAVBAR --------------------------*/
.topnav {
    background-color: white;
    overflow: hidden;
    position:fixed;
    width:100%;
    margin-top:-10px;
    z-index:99;
    padding-top:14px;
    padding-right:25px;
  }
  .topnav a {
    float: right;
    color: black;
    text-align: center;
    padding: 14px 0px;
    margin: 0px 15px;
    font-family: "Open Sans";
    font-size:18px;
  }
  .topnav a:hover {
    background-color: #482f7f00;
    color: #fc9f9f;
    text-decoration:none;
    padding-bottom:3px;
    border-bottom: 3px solid #fc9f9f;
  }
  .topnav a.active {
    background-color: #482f7f00;
    text-decoration: none;
    color: #fc9f9f
  }

  .next-link{
    color: #fc9f9f;
    font-size: 25px;
  }

  .next-link:hover{
    color: #fc9f9f;
  }

  .footer{
      display: flex;
      flex-direction: row;
      margin-bottom: 50px;
  }

  .left-link{
    position: absolute;
    left: 0px;
    padding-left: 15%
  }

  .right-link{
    position: absolute;
    right: 0px;
    padding-right: 15%
}