body{
    background-color:#f1f1f1 !important;
}
button{
    border:inherit;
    background-color:inherit;
}
.link,a.link:hover{
    color:#fc9f9f;
}
.arrow-button:hover{
    background-color:#ffffff00;
    color:#fc9f9f;
}
.arrow-button{
    background-color:#ffffff00;
    color:black;
    font-size:30px;
    padding:20px 0px 0px 25px;
}

.title{
    font-family: "Roboto Mono";
    font-weight:bold;
    text-align: center;
    margin-top:80px;
    background-color:#fc9f9f
}

.sub-title{
    font-family: "Roboto Mono";
    font-weight:bold;
    text-align: left;
    margin-top:80px;
    margin-left:200px;
}

.description{
    font-family: "Open Sans";
    font-size:20px;
    margin: 10px 200px 40px 200px;;
}

.flex-container{
    display:flex;
    flex-direction:column;
    align-items:center;
}

/* button{
    background-color:#fc9f9f;
    color:white;
    padding:10px 15px 10px 15px;
} */

button:hover{
    background-color:white;
    color:#fc9f9f;
}
.button-div{
    display: flex;
    align-items:center;
    justify-content:center;
}

.screen{
    width:1000px;
    border:solid;
    border-width:1px;
    padding:0px;
}

.paper-cont,.ff-color-cont,.login-cont{
    display: flex;
    align-items:center;
    justify-content:center;
}
.paper,.ff-logo,.ff-login{
    width:75%;
}
.ff-letters{
    width:25%
}
.ff-color{
    width:40%;
    padding-top:30px;
}