/* ------------------HOME PAGE --------------------------*/
.intro{
    display:flex;
    height:100vh;
    padding-top:75px;
    justify-content: center;
    background:url('https://s3.us-east-2.amazonaws.com/chelly-website/website-images/bg.png');
}
.intro-cont{
    width:700px;
    display:flex;
    flex-direction:column;
    justify-content:center;
}
#cc-logo{
    width:150px;
    float:right;
    padding: 10px;
}

/* ------------------FONT SIZES --------------------------*/
.title-top{
    font-size:120px;
    font-family:"Roboto Mono";
    line-height:130px;
    font-weight:bold;
}
.sub-title{
    font-family: "Roboto";
    font-size:30px;
    line-height:40px;
    margin-left:5px;
}
h3{
    padding-left:inherit;
}
.sml-title{
    font-family: "Open Sans";
    font-weight: bold;
    font-size:30px;
}
h4{
    padding-left:inherit;
}
.lil-title{
    font-family: "Open Sans";
    font-size:20px;
    font-weight:bold;
    color: #fc9f9f;
}
.section-title{
    font-family: "Roboto";
    font-size:40px;
    font-weight:bold;
    padding:15px 0px 15px 0px;
}
p{
    font-family: "Open Sans";
    font-size: inherit;
}
.contact-text{
    font-size:24px;
}



/* ------------------NAVBAR --------------------------*/
.topnav {
    background-color: white;
    overflow: hidden;
    position:fixed;
    width:100%;
    margin-top:-10px;
    z-index:99;
    padding-top:14px;
  }
  .topnav a {
    float: left;
    color: black;
    text-align: center;
    padding: 14px 16px;
    font-family: Roboto;
    font-size:20px;
  }
  .topnav a:hover {
    background-color: #482f7f00;
    color: #fc9f9f;
    text-decoration: none;
  }
  .topnav a.active {
    background-color: #482f7f00;
    text-decoration: none;
    color: #fc9f9f
  }

  /* ------------------ABOUT SECTION --------------------------*/
  #about{
      background-color:#f1f1f1;
      height: 95vh;
      display: flex;
      flex-direction:column;
      justify-content: center;
      align-items: center;
      overflow: hidden;
  }
  .program{
    font-family: "Roboto Mono";
    font-size:18px;
    line-height:0px;
    margin:0px;
    text-indent:50px;
    padding-left:10px;
}
.program-class{
    font-family: "Roboto Mono";
    font-size:18px;
    line-height:0px;
    margin:0px;
    color: #4033a0;
    padding-left:10px;
}
.about-window{
    background:#fdfdfd;
    display:flex;
    flex-direction:column;
    width: 700px;
    height:550px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius:5px;
}
.about-title{
    text-align:center;
    font-family: "Roboto Mono";
    background: #d5d5d5;
    padding: 10px;
    border-radius:5px 5px 0px 0px;
}
.resume-link,.resume-link:hover{
    font-family: "Roboto Mono";
    font-size:18px;
    color:#fc9f9f;
}

.mark-att{
    color: #fc9f9f;
    background-color: #ffffff00;
}


  /* ------------------GRAPHIC DESIGN --------------------------*/
  #graphics{
    background-color:#f1f1f1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    padding: 75px 60px 75px 60px;
    }
  .dsgn-img{
    width:100%;
  }
  .graph-cont{
    display: flex;
    justify-content: center;
    align-items: center;
  }

    /* ------------------PROJECTS --------------------------*/
  #projects{
      background-color:white;
      height: 100%;
      margin-top:75px;
      margin-bottom:75px;
      display: flex;
      flex-direction:column;
      justify-content: center;
      align-items: center;
      padding-left:60px;
  }
  .project-cont{
    display: flex;
    flex-direction:column;
    justify-content: center;
  }
  .web-link{
      color:black;
      font-size:30px;
  }
  a.web-link:hover{
      color: #fc9f9f;
  }
  .proj-explan{
      size:15px;
      padding-left:15px;
  }
  #mbm-icon,#ff-icon{
    width:100%;
    float:right;
    padding-right:50px;
}
.row-link,a.row-link:hover{
    color:black;
    text-decoration:none;
    font-size: inherit;
}

  /* ------------------CONTACT --------------------------*/
#contact{
    background-color:white;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    height:10vh;
    margin:0px 100px 0px 100px;
}

.icon{
    width:30px;
    margin:10px;
}
