/* ------------------HOME PAGE --------------------------*/
.intro{
    display:flex;
    height:100vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    /* background:url('https://s3.us-east-2.amazonaws.com/chelly-website/website-images/bg.png'); */
}

/* ------------------FONT SIZES --------------------------*/
.title-top{
    font-size:75px;
    font-family:"Source Sans Pro";
    /* font-weight:bold; */
    text-align:center;
}
.sub-title{
    font-family: "Open Sans";
    font-size:30px;
    line-height:40px;
    text-align:center;
}
h3{
    padding-left:inherit;
}
.sml-title{
    font-family: "Open Sans";
    font-weight: bold;
    font-size:30px;
}
h4{
    padding-left:inherit;
}
.lil-title{
    font-family: "Open Sans";
    font-size:20px;
    font-weight:bold;
    color: #fc9f9f;
}
.section-title{
    font-family: "Source Sans Pro";
    font-size:45px;
    text-align:center;
}
p{
    font-family: "Open Sans";
    font-size: inherit;
}
.contact-text{
    font-size:24px;
}
.title-link,.title-link:hover{
    color: #fc9f9f;
}


/* ------------------NAVBAR --------------------------*/
.topnav {
    background-color: white;
    overflow: hidden;
    position:fixed;
    width:100%;
    margin-top:-10px;
    z-index:99;
    padding-top:14px;
    padding-right:25px;
  }
  .topnav a {
    float: right;
    color: black;
    text-align: center;
    padding: 14px 0px;
    margin: 0px 15px;
    font-family: "Open Sans";
    font-size:18px;
  }
  .topnav a:hover {
    background-color: #482f7f00;
    color: #fc9f9f;
    text-decoration:none;
    padding-bottom:3px;
    border-bottom: 3px solid #fc9f9f;
  }
  .topnav a.active {
    background-color: #482f7f00;
    text-decoration: none;
    color: #fc9f9f
  }

  /* ------------------ABOUT SECTION --------------------------*/
  #about{
      background-color:#f1f1f1;
      height: 95vh;
      display: flex;
      flex-direction:column;
      justify-content: center;
      align-items: center;
      overflow: hidden;
  }
  .program{
    font-family: "Roboto Mono";
    font-size:18px;
    line-height:0px;
    margin:0px;
    text-indent:50px;
    padding-left:10px;
    color:white;
}
.program-class{
    font-family: "Roboto Mono";
    font-size:18px;
    line-height:0px;
    margin:0px;
    color:#7eb0b8;
    padding-left:10px;
}
.about-window{
    background:#404040;
    display:flex;
    flex-direction:column;
    width: 700px;
    height:550px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius:5px;
}
.about-title{
    text-align:center;
    font-family: "Roboto Mono";
    background: #d5d5d5;
    padding: 10px;
    border-radius:5px 5px 0px 0px;
}
.resume-link,.resume-link:hover{
    font-family: "Roboto Mono";
    font-size:18px;
    color:#fc9f9f;
}
.mark-att{
    color: #fc9f9f;
    background-color: #ffffff00;
}


  /* ------------------GRAPHIC DESIGN --------------------------*/
  #graphics{
    background-color:#f1f1f1;
    padding-top:75px;
    padding-bottom:75px;
    }
  .graph-cont{
    display: flex;
    justify-content: center;
    align-items: center;
    padding:40px 40px 0px 40px;
  }
  #graph-icon{
    width:100%;
    padding:22px;
    text-align:center;
}

    /* ------------------PROJECTS --------------------------*/
  #projects{
      background-color:white;
      height: 100%;
      padding-top:75px;
      padding-bottom:75px;
      align-items: center;
  }

  /* ------------------CONTACT --------------------------*/
#contact{
    background-color:white;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    height:10vh;
    margin:0px 100px 0px 100px;
}

.icon{
    width:30px;
    margin:10px;
}


#ff-icon {
    padding:25px;
    width: 100%;
    transition: .5s ease;
    backface-visibility: hidden;
  }
  
  .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }

  
  .graph-cont:hover #ff-icon, .graph-cont:hover #graph-icon {
    opacity: 0.1;
  }
  
  .graph-cont:hover .middle {
    opacity: 1;
  }
  
  .text {
    color: black;
    font-size: 45px;
    font-family: "Source Sans Pro";
  }
