/* ------------------HOME PAGE --------------------------*/
.intro{
    display:flex;
    flex-direction:column;
    height:100vh;
    padding-top:75px;
    padding-left:50px;
    justify-content: center;
    align-items:center;
    background:url('https://s3.us-east-2.amazonaws.com/chelly-website/website-images/bg.png');
}
#cc-logo{
    width:150px;
    float:right;
    padding: 10px;
}

/* ------------------FONT SIZES --------------------------*/
h1{
    font-family:inherit;
    font-size:inherit;
    line-height:inherit;
}
.title-top{
    font-size:120px;
    font-family:"Roboto Mono";
    line-height:130px;
    font-weight:bold;
}
h2{
    font-family: inherit;
    margin-left:inherit;
    font-size:inherit;
    line-height:inherit;
    color:inherit;
}
.sub-title{
    font-family: "Roboto";
    font-size:40px;
    line-height:60px;
}
h3{
    font-family: inherit;
    font-size:inherit;
    padding-left:inherit;
}
.sml-title{
    font-family: "Roboto Mono";
    font-size:25px;
    /* padding-left:60px; */
}
h4{
    font-family: inherit;
    font-size:inherit;
    padding-left:inherit;
}
.lil-title{
    font-family: "Open Sans";
    font-size:20px;
    /* padding-left:60px; */
    font-weight:bold;
    color: #fc9f9f;
}
p{
    font-family: "Open Sans";
    font-size: inherit;
}
.contact-text{
    font-size:24px;
}
mark{
    background-color: inherit;
}
.mark-title{
    background-color: #fc9f9f
}
li{
    font-family: "Open Sans";
    font-size: 24px;
    line-height:35px;
}
ul{
    margin: 0px 100px 0px 100px;
}


/* ------------------NAVBAR --------------------------*/
.topnav {
    background-color: white;
    overflow: hidden;
    position:fixed;
    width:100%;
    margin-top:-10px;
    z-index:99;
    padding-top:14px;
  }
  .topnav a {
    float: left;
    color: black;
    text-align: center;
    padding: 14px 16px;
    font-family: Roboto;
    font-size:20px;
  }
  .topnav a:hover {
    background-color: #482f7f00;
    color: #fc9f9f;
    text-decoration: none;
  }
  .topnav a.active {
    background-color: #482f7f00;
    text-decoration: none;
    color: #fc9f9f
  }
  i{
    border: solid black;
    border-width: 0 15px 15px 0;
    display: inline-block;
    padding: 15px;
    margin-bottom:15px
  }

  /* ------------------ABOUT SECTION --------------------------*/
  #about{
      background-color:#f1f1f1;
      height: 95vh;
      display: flex;
      flex-direction:column;
      justify-content: center;
      align-items: center;
      overflow: hidden;
  }
  .program{
    font-family: "Roboto Mono";
    font-size:16px;
    line-height:0px;
    margin:0px;
    text-indent:50px;
    padding-left:10px;
}
.program-class{
    font-family: "Roboto Mono";
    font-size:16px;
    line-height:0px;
    margin:0px;
    color: #4033a0;
    padding-left:10px;
}
.about-window{
    background: #a8a8a8;
    display:flex;
    flex-direction:column;
    width: 700px
}
.about-title{
    text-align:center;
    font-family: "Roboto Mono";
    background: #d5d5d5;
    padding: 10px;
}
.resume-link{
    font-family: "Roboto Mono";
    font-size:16px;
    color:white;
}
.resume-link:hover{
    font-family: "Roboto Mono";
    font-size:16px;
    color:#fc9f9f;
    text-decoration: none;
}
.mark-att{
    color: #ffcece;
    background-color: #a8a8a8;
}


  /* ------------------GRAPHIC DESIGN --------------------------*/
  #graphics{
    background-color:#f1f1f1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    padding: 75px 40px 75px 40px;
    }
  .dsgn-img{
    width:70%;
  }
  .dsgn-cont{
    display: flex;
    align-items: center;
    flex-direction:column;
  }
  .dsgn-cont-text{
      display: flex;
      align-items:left;
      justify-content: center;
      flex-direction:column;
  }
  .graph-cont{
      border-right:1px solid #a8a8a8;
  }

    /* ------------------PROJECTS --------------------------*/
  #projects{
      background-color:white;
      height: 100%;
      margin-top:75px;
      margin-bottom:75px;
      display: flex;
      flex-direction:column;
      justify-content: center;
      align-items: center;
      padding-left:60px;
  }
  .project-cont{
    display: flex;
    flex-direction:column;
    justify-content: center;
  }
  a{
    font-family: "Roboto Mono";
    font-size:25px;
    color:inherit;
  }
  .web-link{
      color:black
  }
  a.web-link:hover{
      color: #fc9f9f;
  }
  .proj-explan{
      size:15px;
      padding-left:15px;
  }
  #mbm-icon,#ff-icon{
    width:100%;
    float:right;
    padding-right:50px;
}
.row-link,a.row-link:hover{
    color:black;
    text-decoration:none;
    font-size: inherit;
}

  /* ------------------CONTACT --------------------------*/
#contact{
    background-color:white;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    height:95vh;
}

.icon{
    width:50px;
    margin:10px;
}
